[submodule "cookbooks/users"]
	path = cookbooks/users
	url = https://github.com/opscode-cookbooks/users.git
[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/zlib"]
	path = cookbooks/zlib
	url = https://github.com/opscode-cookbooks/zlib.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "cookbooks/readline"]
	path = cookbooks/readline
	url = https://github.com/atomic-penguin/cookbook-readline.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/subversion"]
	path = cookbooks/subversion
	url = https://github.com/opscode-cookbooks/subversion.git
[submodule "cookbooks/screen"]
	path = cookbooks/screen
	url = https://github.com/opscode-cookbooks/screen.git
[submodule "cookbooks/zsh"]
	path = cookbooks/zsh
	url = https://github.com/opscode-cookbooks/zsh.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/emacs-snapshot"]
	path = cookbooks/emacs-snapshot
	url = https://github.com/niku/emacs-snapshot.git
[submodule "cookbooks/locale-gen"]
	path = cookbooks/locale-gen
	url = https://github.com/niku/locale-gen.git
[submodule "cookbooks/locale"]
	path = cookbooks/locale
        url = https://github.com/heavywater/chef-locale.git
[submodule "cookbooks/timezone"]
	path = cookbooks/timezone
	url = https://github.com/niku/chef-timezone.git
[submodule "cookbooks/cmigemo"]
	path = cookbooks/cmigemo
	url = https://github.com/niku/cmigemo.git
[submodule "cookbooks/exuberant-ctags"]
	path = cookbooks/exuberant-ctags
	url = https://github.com/niku/exuberant-ctags.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook.git
[submodule "cookbooks/tmux"]
	path = cookbooks/tmux
	url = https://github.com/opscode-cookbooks/tmux.git
