[submodule "cookbooks/users"]
	path = cookbooks/users
	url = git://github.com/opscode-cookbooks/users.git
[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = git://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = git://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = git://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/zlib"]
	path = cookbooks/zlib
	url = git://github.com/opscode-cookbooks/zlib.git
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = git://github.com/opscode-cookbooks/xml.git
